* {
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 189, 212);
}

body > h1 {
    color: black;
}

main {
    margin-left: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main > .domino {
    list-style-type: none;
    font-size: 5rem;
    transition: transform 0.5s;
    color: rebeccapurple;
    
    /* display: none; */
}

main > .domino:hover {
    transform: scale(1.5) rotate(0.5turn);
}

main > .domino.selected {
    /* display: block; */
    
    color: lightcyan;
    filter: drop-shadow(0 0 0.25rem lightcyan);
}

.hidden {
    display: none;
    /* visibility: hidden; */
}
